<p id="notice"><%= notice %></p>

<p>
  <strong>Adj type:</strong>
  <%= @new_word_adj_form.adj_type %>
</p>

<%= link_to 'Edit', edit_new_word_adj_form_path(@new_word_adj_form) %> |
<%= link_to 'Back', new_word_adj_forms_path %>
