<div class="nested-fields">
    <div class="fluid-container">
        <%= f.input :component_id %>
        <%= link_to_remove_association f, class: 'ui icon button' do %>
            <i class="delete icon"></i>
        <% end %>
    </div>
</div>