<table class="ui celled padded striped unstackable table">
    <thead>
        <tr>
            <th class="two wide center aligned">Lesson</th>
            <th class="two wide center aligned">Kanji</th>
            <th class="twelve wide">Meaning</th>
        </tr>
    </thead>
    <tbody>
        <% @kanjis.each do |kanji| %>
            <tr>
                <td class="center aligned"><%= kanji.lesson.lesson %></td>
                <td class="center aligned"><%= link_to kanji.kanji, kanji, remote: true %></td>
                <td><%= kanji.meaning %></td>
            </tr>
        <% end %>
    </tbody>
</table>