<div class="ui">
    <div class=" ui vertical segment grid">
        <div class="eight wide column">
            <div id="kanji-list">
                <%= render 'index' %>
            </div>
        </div>
        <div class="eight wide column">
            <div id="right-half-panel">
            </div>
        </div>
    </div>
</div>