<div class="all-tab">
    <div class="half-tab">
        <div id="new-word-list">
            <%= render 'index' %>
        </div>
    </div>
    <div class="half-tab">
        <div id="right-half-panel">
        </div>
    </div>
</div>