<table class="ui celled unstackable table">
    <tbody>
        <tr>
            <td>
                <h3 class="bigger-font"><%= example.sentences.html_safe %></h3>
            </td>
        </tr>
        <% if example.kanji_version.presence %>
            <tr>
                <td>
                    <h3><%= example.kanji_version.html_safe %></h3>
                </td>
            </tr>
        <% end %>
        <tr>
            <td>
                <h3><%= example.meaning %></h3>
            </td>
        </tr>
        <% if example.note.presence %>
            <tr>
                <td colspan="2">
                    <%= example.note.html_safe %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>