<a id='first-type-toggle' class="active item" onclick="first_type_onclick()">
    <span>Loại 1</span>
    <div class="ui label">
        <%= @ftv_count %>
    </div>
</a>
<a id='second-type-toggle' class="item" onclick="second_type_onclick()">
    <span>Loại 2</span>
    <div class="ui label">
        <%= @stv_count %>
    </div>
</a>
<a class="item">
    <span>Tổng</span>
    <div class="ui teal left pointing label">
        <%= @verbs_count %>
    </div>
</a>