<div class="item">
    <%= link_to 'New Kanji', new_kanji_path, remote: true, class: "ui primary basic button" %>
</div>
<div class="item">
    <%= form_tag sort_kanjis_path(lesson: params[:lesson]), method: :get, remote: true, id: "form_filter_lesson", class: "ui tiny form" do %>
        <%= select_tag :lesson, options_from_collection_for_select(kanji_books, :id, :select_label), prompt: 'Chọn theo bài', class: "ui ", onchange: "filter_by_lesson()" %>
    <% end %>
</div>