<div class="ui dropdown item">
    <div class="default text">Bài học</div>
    <i class="dropdown icon"></i>
    <div class="menu" style="overflow:auto;max-height:500px;">
        <% marugoto_books.each do |book| %>
            <%=  link_to book.select_label, sort_new_words_path(lesson: book), remote: true, class: 'item' %>
        <% end %>
    </div>
</div>
<% if user_signed_in? %>
    <%= link_to 'New Word', new_new_word_path, remote: true, class: "item" %>
<% end %>