<table class="ui celled table">
    <tbody>
        <tr>
            <td class="eight wide">
                <h3"><%= example.sentences %></h3>
            </td>
            <td class="eight wide">
                <h3"><%= example.kanji_version %></h3>
            </td>
        </tr>
        <tr>
            <td colspan="2" >
                <h3><%= example.meaning %></h3>
            </td>
        </tr>
        <% if example.note.presence %>
            <tr>
                <td colspan="2" >
                    <%= example.note %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>