<div class="item">
    <div class="content">
        <p class="header">
            <strong>Sentences:</strong>
            <%= example.meaning %>
        </p>
        <div class="description">
            <p>
                <strong>Kanji version:</strong>
                <%= example.note %>
            </p>
            <p>
                <strong>Meaning:</strong>
                <%= example.meaning %>
            </p>
            <p>
                <strong>Note:</strong>
                <%= example.note %>
            </p>
        </div>
    </div>
</div>