// Place all the styles related to the kanjis controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: http://sass-lang.com/

.ui.huge.red.center.aligned.header {
    font-size: 5rem;
}

.bottom-buffer { margin-bottom:20px; }

.image-hint {
    max-width: 100%;
}
