// Place all the styles related to the NewWords controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: http://sass-lang.com/

.ui.table tr.adj,
.ui.table td.adj {
    background: #FDFF00 !important;
    color: #E9DE15 !important;
}

body, .main-body, .all-tab {
    height: 100%;
    overflow: hidden;
}

.all-tab {
    padding-top: 20px;
}

.half-tab {
    overflow: auto;
    float: left;
    width: 50%;
    height: 100%;
    padding: 5px;
    padding-bottom: 30px;
}
