<div class="padding-2-size">
    <div id="first-type-verbs">
        <%= render 'one_type_list', verbs: @ftvs %>
    </div>
    <div id="second-type-verbs" style="display: none">
        <%= render 'one_type_list', verbs: @stvs %>
    </div>
</div>