<div class="ui container">
    <div id="first-type-verbs">
        <%= render 'one_type_list', verbs: @first_type_verbs %>
    </div>
    <div id="second-type-verbs" style="display: none">
        <%= render 'one_type_list', verbs: @second_type_verbs %>
    </div>
</div>